* {
    box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
figure,
p,
ol,
ul {
    margin: 0;
}

ol[role="list"],
ul[role="list"] {
    list-style: none;
    padding-inline: 0;
}

h1,
h2,
h3,
h4,
h5 {
    font-size: inherit;
    font-weight: inherit;
}

img {
    display: block;
    max-inline-size: 100%;
}

html {
    font-family: "Open Sans", sans-serif;
    scroll-behavior: smooth;
}

body {
    background-color: #fff;
    padding: 56px 100px 0px 100px;
}

.container {
    width: 100%;
    padding: 0 10px;
}

@media screen and (max-width: 1024px) {
    body {
        padding: 30px 40px 0px 40px;
    }
}

@media screen and (max-width: 768px) {
    body {
        padding: 20px 20px 0px 20px;
    }
}

@media screen and (max-width: 376px) {
    body {
        padding: 5px 10px 0px 5px;
    }
}