@use "/src/sass/base/variables.scss" as *;

.cta {
    background: url(/src/img/bg.jpg) center (center/cover) no-repeat;
    padding: 72px 242px 72px 242px;
    border-radius: 12px;
    margin-top: 124px;
    &__title {
        font-family: "Manrope", sans-serif;
        font-weight: 400;
        font-size: 48px;
        line-height: 150%;
        text-align: center;
        color: #fff;
    }
    &__wrapper {
        display: flex;
        gap: 24px;
        justify-content: center;
        margin-top: 50px;
    }
    &__input {
        border: 2px solid #fff;
        border-radius: 240px;
        width: 370px;
        height: 56px;
        background: #fff;
        font-weight: 400;
        font-size: 20px;
        line-height: 160%;
        color: #000;
        padding: 0px 32px;
    }
    &__btn {
        border: 2px solid #65e4a3;
        border-radius: 56px;
        padding: 16px 56px;
        width: 210px;
        height: 60px;
        background: #65e4a3;
        font-weight: 700;
        font-size: 20px;
        line-height: 140%;
        color: $dark;
        &:hover {
            cursor: pointer;
        }
    }
}