@use "/src/sass/base/variables.scss" as *;

.cta {
    background: url(/src/img/bg.jpg) center (center/cover) no-repeat;
    padding: 72px 242px 72px 242px;
    border-radius: 12px;
    margin-top: 124px;
    &__title {
        font-family: "Manrope", sans-serif;
        font-weight: 400;
        font-size: 48px;
        line-height: 150%;
        text-align: center;
        color: #fff;
    }
    &__wrapper {
        display: flex;
        gap: 24px;
        justify-content: center;
        margin-top: 50px;
        align-items: center;
    }
    &__input {
        border: 2px solid #fff;
        border-radius: 240px;
        width: 370px;
        height: 56px;
        background: #fff;
        font-weight: 400;
        font-size: 20px;
        line-height: 160%;
        color: #000;
        padding: 0px 32px;
    }
    &__btn {
        border: 2px solid #65e4a3;
        border-radius: 56px;
        padding: 16px 56px;
        width: 210px;
        height: 60px;
        background: #65e4a3;
        font-weight: 700;
        font-size: 20px;
        line-height: 140%;
        color: $dark;
        &:hover {
            cursor: pointer;
        }
    }
}

@media screen and (max-width: 1200px) {
    .cta {
        padding: 72px 50px 72px 50px;
        &__title {
            font-size: 40px;
        }
    }
}

@media screen and (max-width: 1024px) {
    .cta {
        margin-top: 60px;
        &__title {
        font-size: 32px;
        }
        &__input {
            max-width: 300px;
            height: 40px;
            font-size: 14px;
        }
        &__btn {
            height: 42px;
            max-width: 180px;
            padding: 5px 30px;
            font-size: 18px;
        }
    }
}

@media screen and (max-width: 768px) {
    .cta {
        &__btn {
            height: 42px;
            max-width: 180px;
            padding: 5px 15px;
            font-size: 14px;
        }
        &__input {
            padding: 0 20px 0 32px;
        }
    }
}

@media screen and (max-width: 376px) {
    .cta {
        padding: 30px 20px 30px 20px;
        &__title {
            font-size: 26px;
        }
        &__wrapper {
            flex-direction: column;
            margin-top: 25px;
            gap: 15px;
        }
        &__btn {
            height: 35px;
            max-width: 150px;
            padding: 5px 15px;
            font-size: 12px;
        }
        &__input {
            max-width: 200px;
        }
    }
}