@use "/src/sass/base/variables.scss" as *;

.logo {
    display: flex;
    align-items: center;
    &__text {
        font-family: "Manrope", sans-serif;
        font-weight: 700;
        font-size: 43px;
        line-height: 78%;
        color: $dark;
    }
    &__wrapper {
        display: flex;
        flex-direction: column;
        gap: 2.21px;
    }
    &__first {
        border-radius: 0 12px 12px 0;
        width: 18px;
        height: 13px;
        background: $dark;
    }
    &__second {
        border-radius: 0 12px 12px 0;
        width: 25px;
        height: 17px;
        background: $dark;
    }
}

@media screen and (max-width: 1024px) {
    .logo {
        display: flex;
        align-items: center;
        &__text {
            font-size: 28px;
        }
        &__first {
            width: 14px;
            height: 10px;
        }
        &__second {
            width: 20px;
            height: 11px;
        }
    }   
}

@media screen and (max-width: 768px) {
    .logo {
        display: flex;
        align-items: center;
        &__text {
            font-size: 20px;
        }
        &__first {
            width: 10px;
            height: 7px;
        }
        &__second {
            width: 15px;
            height: 8px;
        }
    }   
}