@use "/src/sass/base/variables.scss" as *;

.news {
    margin-top: 96px;
    padding: 0px 101px;
    &__title {
        font-family: "Manrope", sans-serif;
        font-weight: 400;
        font-size: 48px;
        line-height: 150%;
        color: $black;
    }
    &__wrapper {
        margin-top: 40px;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        row-gap: 80px;
        column-gap: 50px;
    }
    &__card {
        min-height: 424px;
        position: relative;
    }
    &__info {
        font-weight: 400;
        font-size: 16px;
        line-height: 175%;
        color: $gray;
        margin-top: 24px;
        span {
            font-weight: 700;
            color: $dark;
            margin-right: 12px;
        }
    }
    &__text {
        font-weight: 400;
        font-size: 20px;
        line-height: 160%;
        color: $black;
        margin-top: 12px;
        letter-spacing: -0.2px;
        margin-bottom: 40px;
    }
    &__profile {
        position: absolute;
        bottom: 0px;
        display: flex;
        align-items: center;
        gap: 12px;
    }
    &__btn {
        display: block;
        margin: 0 auto;
        margin-top: 96px;
    }
}

.divider {
    border: none;
    height: 1px;
    background-color: $dark;
    margin-top: 72px;
}

@media screen and (max-width: 1200px) {
    .news {
        padding: 0 50px;
    }
}

@media screen and (max-width: 1024px) {
    .news {
        margin-top: 70px;
        &__text {
            font-size: 14px;
        }
        &__info {
            font-size: 12px;
        }
        &__card {
            min-height: 320px;
        }
        &__profile {
            font-size: 12px;
        }
        &__photo {
            width: 24px;
        }
        &__wrapper {
            column-gap: 30px;
            row-gap: 40px;
        }
        &__btn {
            margin-top: 50px;
        }
    }
}

@media screen and (max-width: 768px) {
    .news {
        padding: 0 20px;
        &__wrapper {
            grid-template-columns: repeat(2, 1fr);
            row-gap: 80px;
            column-gap: 50px;
        }
        &__title {
            font-size: 36px;
        }
    }
}

@media screen and (max-width: 376px) {
    .divider {
        margin-top: 30px;
    }
    .news {
        margin-top: 30px;
        &__wrapper {
            grid-template-columns: 1fr;
            row-gap: 50px;
        }
    }
}